{% extends 'layouts/base6.html' %}

{% load static %}

{% block content %}

<main>
  <div class="alert alert-danger d-none" role="alert" id="alert">
    A simple danger alert—check it out!
  </div>
  <h1 class="centrado" id="centrado">Programa 1</h1>
  <section class="form" id="contenido">
    <p>Número 1</p>
    <input class="buttons" type="number" id="number1" required>
    <p>Número 2</p>
    <input class="buttons" type="number" id="number2" required>
    <button class="buttons" id="btnOK">OK</button>
  </section>

  <section class="form">
    <center>
      <button class="buttons" id="btnBACK">Volver</button>
    </center>
  </section>

</main>

<script src="{% static 'Programa1.js' %}"></script>

{% endblock %}