{% extends 'layouts/base5.html' %}

{% load static %}

{% block content %}

<h1>Nvidia 4060 Ti</h1>

<main>
  <div class="container-img">
    <center>
      <img src="{% static '4060Ti.avif' %}" alt="imagen-producto" />
    </center>
  </div>
  <div class="container-info-product">
    <div class="container-price">
      <span>$ 2.350.000</span>
    </div>
    <div class="container-add-cart">
      <div class="container-quantity">
        <input type="text" id="producto" value="RTX 4070" hidden>
        <input type="number" name="inputValue" id="inputValue" placeholder="1" value="1" min="1" class="input-quantity" />
        <div class="btn-increment-decrement">
          <i class="fa-solid fa-chevron-up" id="increment"></i>
          <i class="fa-solid fa-chevron-down" id="decrement"></i>
        </div>
      </div>
      <a id="dynamicLink" href="/shop/agregarespecifico/{{usuario}}/RTX 4060 Ti/1">
        <input type="button" class="btn-add-to-cart" value="Añadir al carrito"></input>
      </a>
    </div>
    <div class="container-description">
      <div class="title-description">
        <h4>Descripción</h4>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="text-description">
        <p>Una tarjeta gráfica de gama media-baja perfecta para trabajos
          pesados sin la necesidad de dejar la cartera vacia.</p>
      </div>
    </div>
    <div class="container-additional-information">
			<div class="title-additional-information">
				<h4>Información adicional</h4>
				<i class="fa-solid fa-chevron-down"></i>
			</div>
			<div class="text-additional-information hidden">
				<ul class="listaintegrada">
          <li>Ciclos del Reloj Interno: 2540 MHz</li>
          <li>Memoria: 8192 MB</li>
          <li>Tipo de Memoria: GDDR6</li>
          <li>Velocidad del bus: 256 GB/s</li>
          <li>Número de núcleos inteligentes: 4352 CUDA</li>
          <li>Potencia energética: 160 W</li>
        </ul>
			</div>
		</div>
  </div>
</main>

{% endblock %}