{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce GTX 16</h1>
  <div>
    <img class="floatderecha" width=40% height=auto
      src="https://images.nvidia.com/aem-dam/Solutions/geforce/news/nvidia-geforce-gtx-1660-super-1650-super/nvidia-geforce-gtx-16-super-key-visual.jpg">
    <p>La serie GTX 16 se basa en la microarquitectura de Turing como la serie RTX 20, aunque siendo una gama de bajo
      costo, prescindiendo del trazado de rayos. Las tarjetas de esta serie se fabrican a 12nm FinFET de TSMC. Carecen
      de los núcleos de RT.</p>
    <table>
      <thead>
        <th colspan="7">GeForce 16</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Ciclos del Reloj Interno</th>
          <th>Memoria</th>
          <th>Tipo de Memoria</th>
          <th>Velocidad del Bus</th>
          <th># De Nucleos Inteligentes</th>
          <th>Potencia Energética</th>
        </tr>
        <tr>
          <td>GeForce GTX 1650 </td>
          <td>1485 MHz</td>
          <td>4096 MB</td>
          <td>GDDR5</td>
          <td>128 GB/s</td>
          <td>896 CUDA</td>
          <td>75 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1650 Super</td>
          <td>1530 MHz</td>
          <td>4096 MB</td>
          <td>GDDR6</td>
          <td>192 GB/s</td>
          <td>1280 CUDA</td>
          <td>100 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1660</td>
          <td>1530 MHz</td>
          <td>6144 MB</td>
          <td>GDDR5</td>
          <td>192 GB/s</td>
          <td>1408 CUDA</td>
          <td>120 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1660 Super</td>
          <td>1530 MHz</td>
          <td>6144 MB</td>
          <td>GDDR6</td>
          <td>336 GB/s</td>
          <td>1408 CUDA</td>
          <td>125 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1660 Ti</td>
          <td>1500 MHz</td>
          <td>6144 MB</td>
          <td>GDDR6</td>
          <td>288 GB/s</td>
          <td>1536 CUDA</td>
          <td>120 W</td>
        </tr>

      </tbody>
    </table>
    <p>Adicionalmente contaban con DirectX 12.1 y 4.700 a 6.600 millones de transistores.</p>
    <hr size="5" width="95%" color="#000000">
    <center>
      <p><a
          href="https://commons.wikimedia.org/wiki/File:ASUS_TUF_Gaming_X3_20190601.jpg#/media/Archivo:ASUS_TUF_Gaming_X3_20190601.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/e/ea/ASUS_TUF_Gaming_X3_20190601.jpg"
            alt="ASUS TUF Gaming X3 20190601.jpg" height="480" width="640"></a><br>De <a
        href="//commons.wikimedia.org/wiki/User:Solomon203" title="User:Solomon203">Solomon203</a> - <span
        class="int-own-work" lang="es">Trabajo propio</span>, <a
          href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC
          BY-SA 4.0</a>, <a class="link" href="https://commons.wikimedia.org/w/index.php?curid=79439292">Enlace</a></p>
    </center>
</body>

{% endblock %}