{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce 10</h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JUL6Gc2g4kg?si=vt3BbBx1R-KfOrwj"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>Familia de tarjetas basadas en la arquitectura Pascal, disponibles a partir del 27 de mayo de 2016 con la puesta
      a la venta de los modelos de gama alta GTX 1070 y GTX 1080.</p>
    <table>
      <thead>
        <th colspan="7">GeForce 10</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Ciclos del Reloj Interno</th>
          <th>Memoria</th>
          <th>Tipo de Memoria</th>
          <th>Velocidad del Bus</th>
          <th># De Nucleos Inteligentes</th>
          <th>Potencia Energética</th>
        </tr>
        <tr>
          <td>GeForce GT 1030 (DDR4)</td>
          <td>1151 MHz</td>
          <td>2048 MB</td>
          <td>DDR4</td>
          <td>16.8 GB/s</td>
          <td>N/D</td>
          <td>20 W</td>
        </tr>
        <tr>
          <td>GeForce GT 1030</td>
          <td>1227 MHz</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>48 GB/s</td>
          <td>N/D</td>
          <td>30 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1050</td>
          <td>1354 MHz</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>112 GB/s</td>
          <td>640 CUDA</td>
          <td>75 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1050 Ti</td>
          <td>1290 MHz</td>
          <td>4096 MB</td>
          <td>GDDR5</td>
          <td>112 GB/s</td>
          <td>768 CUDA</td>
          <td>75 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1060 (3GB)</td>
          <td>1506 MHz</td>
          <td>3072 MB</td>
          <td>GDDR5</td>
          <td>192 GB/s</td>
          <td>1152 CUDA</td>
          <td>120 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1060 (6GB)</td>
          <td>1506 MHz</td>
          <td>6144 MB</td>
          <td>GDDR5</td>
          <td>288 GB/s</td>
          <td>1280 CUDA</td>
          <td>120 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1070</td>
          <td>1506 MHz</td>
          <td>8192 MB</td>
          <td>GDDR5</td>
          <td>224 GB/s</td>
          <td>1920 CUDA</td>
          <td>150 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1070 Ti</td>
          <td>1607 MHz</td>
          <td>8192 MB</td>
          <td>GDDR5</td>
          <td>256 GB/s</td>
          <td>2432 CUDA</td>
          <td>180 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1080</td>
          <td>1607 MHz</td>
          <td>8192 MB</td>
          <td>GDDR5X</td>
          <td>320 GB/s</td>
          <td>2560 CUDA</td>
          <td>180 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 1080 Ti</td>
          <td>1480 MHz</td>
          <td>11264 MB</td>
          <td>GDDR5X</td>
          <td>484 GB/s</td>
          <td>3584 CUDA</td>
          <td>250 W</td>
        </tr>
        <tr>
          <td>GeForce GTX TITAN V</td>
          <td>1200 MHz</td>
          <td>12288 MB</td>
          <td>HBM2</td>
          <td>651 GB/s</td>
          <td>5120 CUDA</td>
          <td>250 W</td>
        </tr>


      </tbody>
    </table>
    <p>Esta serie puede utilizar controladores de memoria
      GDDR5, GDDR5X y HBM2. Su proceso de integración de 16 nm FinFET13 corre a cargo de TSMC, aunque hay modelos
      también fabricados por Samsung a 14 nm.</p>
    <p><strong>Algunas de sus características principales eran: </strong></p>
    <ul class="listaintegrada">
      <li>Resoluciones de 4K escaladas a 1080p para una mejor definición de imagen (DSR)</li>
      <li>Nvidia VXGI (iluminación global de vóxeles en tiempo real)</li>
      <li>VR Direct (posibilidad de poder utilizar dispositivos como las gafas Rift de Oculus VR o las Vive de HTC)</li>
      <li>Muestreo de antiescalonamiento multifotograma (MFAA)</li>
      <li>HDMI 2.0</li>
      <li>Compatibilidad nativa con DirectX 12, nivel de características 0 y 1</li>
      <li>Compatibilidad nativa con Shader Pixel 5.0</li>
    </ul>
    <hr size="5" width="95%" color="#000000">
    <center>
      <p><a
          href="https://commons.wikimedia.org/wiki/File:Nvidia_GeForce_GTX_1080_Ti_Founders_Edition_unpacking_(27347713181).jpg#/media/Archivo:Nvidia_GeForce_GTX_1080_Ti_Founders_Edition_unpacking_(27347713181).jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/1/12/Nvidia_GeForce_GTX_1080_Ti_Founders_Edition_unpacking_%2827347713181%29.jpg"
            alt="Nvidia GeForce GTX 1080 Ti Founders Edition unpacking (27347713181).jpg" height="480"
            width="640"></a><br>De <a rel="nofollow" class="external text"
        href="https://www.flickr.com/people/21799187@N02">Manifest Interactive</a> from Portland, OR, USA -
        <a rel="nofollow" class="external text"
        href="https://www.flickr.com/photos/manifestinteractive/27347713181/"&gt;geforce_gtx_1080_fe_09&lt;/a&gt;, <a
          href="https://creativecommons.org/licenses/by/2.0" title="Creative Commons Attribution 2.0">CC BY 2.0</a>, <a class="link"
          href="https://commons.wikimedia.org/w/index.php?curid=84335444">Enlace</a></p>
    </center>
</body>

{% endblock %}