{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">Nvidia Tesla</h1>
  <div>
    <center>
      <p><a href="https://commons.wikimedia.org/wiki/File:NvidiaTesla2075.JPG#/media/Archivo:NvidiaTesla2075.JPG"><img
            src="https://upload.wikimedia.org/wikipedia/commons/a/af/NvidiaTesla2075.JPG" alt="NvidiaTesla2075.JPG"
            height="424" width="640"></a><br>De<a href="//commons.wikimedia.org/wiki/User:Raysonho"
          title="User:Raysonho">Raysonho @ Open Grid Scheduler / Grid Engine</a> - <span class="int-own-work"
          lang="es">Trabajo propio</span>, <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.en"
          title="Creative Commons Zero, Public Domain Dedication">CC0</a>, <a class="link"
          href="https://commons.wikimedia.org/w/index.php?curid=19937433">Enlace</a></p>
      <br>
    </center>
    <p>
      Nvidia Tesla era el nombre de la línea de productos de Nvidia destinados al procesamiento de flujo o unidades de
      procesamiento de gráficos de uso general (GPGPU), que lleva el nombre del pionero ingeniero eléctrico Nikola
      Tesla. Sus productos comenzaron a usar GPU de la serie G80 y han seguido acompañando el lanzamiento de nuevos
      chips. Son programables utilizando las API de CUDA o OpenCL.
    </p>
    <p>
      La línea de productos Nvidia Tesla compitió con las líneas de tarjetas GPU y de aprendizaje profundo Radeon
      Instinct e Intel Xeon Phi de AMD.
    </p>
    <p>
      Nvidia retiró la marca Tesla en mayo de 2020, supuestamente debido a una posible confusión con la marca de
      automóviles. Sus nuevas GPU tienen la marca Nvidia Data Center GPU, como en la GPU Ampere A100.
    </p>
  </div>
</body>

{% endblock %}