{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce 500</h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sQQpCd_vvGU?si=K6lTP2tAXV9Y9GRp"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>La serie Geforce 500 es una serie de tarjetas gráficas con significativas modificaciones de la serie GeForce 400
      en términos de rendimiento y gestión de energía. Al igual que la Nvidia GeForce 400, las Nvidia Geforce 500 son
      compatibles con DirectX 11, OpenGL 4.1 y OpenCL 1.0. Fueron diseñados para competir con la serie AMD Radeon HD
      6000 de tarjetas gráficas diseñadas por AMD (ATI) a mediados de 2010 y lanzado en octubre de 2010.
    </p>
    <table>
      <thead>
        <th colspan="7">GeForce 500</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Modelo de Chip</th>
          <th>Memoria</th>
          <th>Tipo de Memoria</th>
          <th>Velocidad del Bus</th>
          <th># De Nucleos Inteligentes</th>
          <th>Potencia Energética</th>
        </tr>
        <tr>
          <td>GeForce GT 510 (OEM) </td>
          <td></td>
          <td>1024/2048 MB</td>
          <td></td>
          <td></td>
          <td>48 CUDA</td>
          <td>25W</td>
        </tr>
        <tr>
          <td>GeForce GT 520</td>
          <td></td>
          <td>1024/2048 MB</td>
          <td></td>
          <td></td>
          <td>48 CUDA</td>
          <td>29W</td>
        </tr>
        <tr>
          <td>GeForce GT 520 (OEM)</td>
          <td></td>
          <td>1024/2048 MB</td>
          <td></td>
          <td></td>
          <td>48 CUDA</td>
          <td>29W</td>
        </tr>
        <tr>
          <td>GeForce GT 530 (OEM)</td>
          <td></td>
          <td>1024/2048 MB</td>
          <td></td>
          <td></td>
          <td>96 CUDA</td>
          <td>50W</td>
        </tr>
        <tr>
          <td>GeForce GT 545 DDR3 (OEM)</td>
          <td></td>
          <td>1024/2048 MB</td>
          <td></td>
          <td></td>
          <td>144 CUDA</td>
          <td>70W</td>
        </tr>
        <tr>
          <td>GeForce GT 545 GDDR5 (OEM)</td>
          <td></td>
          <td>1536/3072 MB</td>
          <td></td>
          <td></td>
          <td>144 CUDA</td>
          <td>105W</td>
        </tr>
        <tr>
          <td>GeForce GTX 550 Ti</td>
          <td></td>
          <td>1024 MB</td>
          <td></td>
          <td></td>
          <td>144 CUDA</td>
          <td>105W</td>
        </tr>
        <tr>
          <td>GeForce GTX 555 (OEM)</td>
          <td></td>
          <td>1024 MB</td>
          <td></td>
          <td></td>
          <td>288 CUDA</td>
          <td>150W</td>
        </tr>
        <tr>
          <td>GeForce GTX 560</td>
          <td></td>
          <td>1024 MB</td>
          <td></td>
          <td></td>
          <td>288 CUDA</td>
          <td>150W</td>
        </tr>
        <tr>
          <td>GeForce GTX 560 (OEM)</td>
          <td></td>
          <td>1280/2560 MB</td>
          <td></td>
          <td></td>
          <td>384 CUDA</td>
          <td>150W</td>
        </tr>
        <tr>
          <td>GeForce GTX 560 Ti</td>
          <td></td>
          <td>1024 MB</td>
          <td></td>
          <td></td>
          <td>384 CUDA</td>
          <td>150W</td>
        </tr>
        <tr>
          <td>GeForce GTX 560 Ti (OEM)</td>
          <td></td>
          <td>1280/2560 MB</td>
          <td></td>
          <td></td>
          <td>352 CUDA</td>
          <td>210W</td>
        </tr>
        <tr>
          <td>GeForce GTX 570</td>
          <td></td>
          <td>1280 MB</td>
          <td></td>
          <td></td>
          <td>352 CUDA</td>
          <td>210W</td>
        </tr>
        <tr>
          <td>GeForce GTX 580</td>
          <td></td>
          <td>1536 MB</td>
          <td></td>
          <td></td>
          <td>352 CUDA</td>
          <td>210W</td>
        </tr>
        <tr>
          <td>GeForce GTX 590</td>
          <td></td>
          <td>3072 MB </td>
          <td></td>
          <td></td>
          <td>352 CUDA</td>
          <td>210W</td>
        </tr>
      </tbody>
    </table>
    <p>El renovado chip Fermi es más grande: incluye 512 procesadores stream, agrupados en 16 grupos de
      multiprocesadores corriente (cada uno con 32 núcleos CUDA), y es fabricado por TSMC en un proceso de 40 nm. El 24
      de marzo de 2011 fue presentado el modelo de más alta gama, la tarjeta de doble GPU Geforce GTX 590 (512 x2
      sombreadores, 48 x2 ROP y 2.49 TFLOPS de poder de cálculo).</p>
    <p><strong>Algunas de sus características principales eran: </strong></p>
    <ul class="listaintegrada">
      <li>Resoluciones de hasta 2560 x 1600 (digital) y 2048 x 1536 (analógico)</li>
      <li>NVIDIA SLI® Ready</li>
      <li>Tecnología PureVideo® HD</li>
      <li>Tecnología PhysX™</li>
      <li>GeForce 3D Vision Ready</li>
      <li>GeForce 3D Vision Surround Ready (Necesita dos o más tarjetas gráficas en configuración NVIDIA SLI, gafas 3D Vision y tres pantallas 3D Vision Ready iguales)</li>
      <li>Compatibilidad con PCI-E 2.0 x16</li>
      <li>Compatible con Shader Model 5.0, OpenGL 4.1 y OpenCL 1.0</li>
      <li>Compatible con la plataforma CUDA</li>
    </ul>
    <hr size="5" width="95%" color="#000000">
    <center>
      <p><a href="https://commons.wikimedia.org/wiki/File:ZotacGTX-550ti.jpg#/media/Archivo:ZotacGTX-550ti.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c6/ZotacGTX-550ti.jpg" alt="ZotacGTX-550ti.jpg"
            height="395" width="640"></a><br>De <a
        href="//commons.wikimedia.org/w/index.php?title=User:Piero71&amp;amp;action=edit&amp;amp;redlink=1" class="new"
        title="User:Piero71 (page does not exist)">Piero71</a>- <span class="int-own-work"
        lang="es">Trabajo propio</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0"
          title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a class="link"
          href="https://commons.wikimedia.org/w/index.php?curid=48272785">Enlace</a></p>
    </center>
  </div>
</body>

{% endblock %}
