{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">Nvidia Tegra</h1>
  <div>
    <p>
      Tegra, desarrollado por Nvidia, es un sistema en chip para dispositivos portátiles como, tabletas, PDA, y
      dispositivos móviles para conectividad a Internet. Los chips Tegra contienen unidades centrales de procesamiento
      (CPU) de arquitectura ARM, unidad de procesamiento gráfico (GPU), puente norte, puente sur, y controlador de
      memoria
      en un paquete único. La serie enfatiza en el bajo consumo de energía y alto rendimiento para reproducción de audio
      y
      video.
    </p>
    <center>
      <p><a
          href="https://commons.wikimedia.org/wiki/File:Motorola_Xoom_-_nvidia_Tegra_2_T20-H-A2_on_main_board-0121.jpg#/media/Archivo:Motorola_Xoom_-_nvidia_Tegra_2_T20-H-A2_on_main_board-0121.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/a/af/Motorola_Xoom_-_nvidia_Tegra_2_T20-H-A2_on_main_board-0121.jpg"
            alt="Motorola Xoom - nvidia Tegra 2 T20-H-A2 on main board-0121.jpg" height="480" width="480"></a><br>De ©
        Raimond Spekking / CC BY-SA 4.0 (via Wikimedia Commons), <a
          href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC
          BY-SA 4.0</a>, <a class="link" href="https://commons.wikimedia.org/w/index.php?curid=57269801">Enlace</a></p>
    </center>
  </div>
</body>

{% endblock %}