{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado"></h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_CQmomyOiRM?si=tTYOuVCgeQyVQ0gp"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>
      NVIDIA GRID™ es la tecnología más avanzada para compartir GPU virtuales (vGPU) en múltiples instancias de
      escritorios y aplicaciones virtuales. Ahora puedes aprovechar la potencia máxima de la GPU para centros de datos
      de
      NVIDIA para brindar una experiencia de gráficos virtuales superior a cualquier dispositivo, en cualquier lugar. La
      plataforma de NVIDIA GRID ofrece los mejores niveles de rendimiento, versatilidad, administración y seguridad,
      para
      brindar una experiencia de usuario apropiada para cualquier flujo de trabajo.
    </p>
    <p><strong>Nvidia ofrece 3 servicios esenciales:</strong></p>
    <ul class="listaintegrada">
      <li><strong>Aplicaciones virtuales de NVIDIA GRID</strong></li>
      <p>Para las organizaciones que implementan XenApp u otras soluciones de Host de servicios de escritorio remoto
        (RDSH). Diseñada para proporcionar aplicaciones de Windows en PC con el máximo rendimiento.</p>
      <li><strong>NVIDIA GRID Virtual PC</strong></li>
      <p>Para usuarios que desean un escritorio virtual, pero que también necesitan una excelente experiencia de usuario
        para aprovechar los videos de alta definición, los navegadores y las aplicaciones de PC.</p>
      <li><strong>Estación de trabajo virtual de NVIDIA GRID</strong></li>
      <p>Para los usuarios que desean usar aplicaciones de gráficos profesionales con el máximo rendimiento en cualquier
        dispositivo, en cualquier lugar.</p>
    </ul>
    <center>
      <p><a href="https://commons.wikimedia.org/wiki/File:NVidia_GRID_K1.jpg#/media/Archivo:NVidia_GRID_K1.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/5/5e/NVidia_GRID_K1.jpg" alt="NVidia GRID K1.jpg"
            height="426" width="640"></a><br>De <a href="//commons.wikimedia.org/wiki/User:Phiarc"
        title="User:Phiarc">Phiarc</a> - <span class="int-own-work" lang="es">Trabajo
        propio</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0"
          title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a class="link"
          href="https://commons.wikimedia.org/w/index.php?curid=129184429">Enlace</a></p>
    </center>

  </div>

</body>

{% endblock %}