{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce RTX 30</h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/E98hC9e__Xs?si=yixp-Jfu9JydDTRe"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>Las RTX 30 se basan en la microarquitectura Ampere, e incluyen su segunda generación de núcleos dedicados a
      trazado de rayos en tiempo real, y su tercera generación de «Tensor cores» dedicados a la ejecución de algoritmos
      de inteligencia artificial.</p>
    <table>
      <thead>
        <th colspan="7">GeForce 30</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Ciclos del Reloj Interno</th>
          <th>Memoria</th>
          <th>Tipo de Memoria</th>
          <th>Velocidad del Bus</th>
          <th># De Nucleos Inteligentes</th>
          <th>Potencia Energética</th>
        </tr>
        <tr>
          <td>GeForce RTX 3050 </td>
          <td>1780MHz</td>
          <td>8192 MB</td>
          <td>GDDR6</td>
          <td>224 GB/s</td>
          <td>2560 CUDA</td>
          <td>130W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3060</td>
          <td>1320MHz</td>
          <td>12288 MB</td>
          <td>GDDR6</td>
          <td>336 GB/s</td>
          <td>3584 CUDA</td>
          <td>170W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3060 Ti </td>
          <td>1410 MHz</td>
          <td>8192 MB</td>
          <td>GDDR6</td>
          <td>448 GB/s</td>
          <td>4864 CUDA</td>
          <td>200W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3070</td>
          <td>1500MHz</td>
          <td>8192 MB</td>
          <td>GDDR6</td>
          <td>448 GB/s</td>
          <td>5888 CUDA</td>
          <td>220W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3070 Ti</td>
          <td>1575MHz</td>
          <td>8192 MB</td>
          <td>GDDR6X</td>
          <td>448 GB/s</td>
          <td>6144 CUDA</td>
          <td>220W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3080</td>
          <td>1440MHz</td>
          <td>10240 MB</td>
          <td>GDDR6X</td>
          <td>760 GB/s</td>
          <td>9728 CUDA</td>
          <td>320W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3080 Ti</td>
          <td>1365MHz</td>
          <td>12288 MB</td>
          <td>GDDR6X</td>
          <td>912 GB/s</td>
          <td>16384 CUDA</td>
          <td>450W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3090</td>
          <td>1695MHz</td>
          <td>10240 MB</td>
          <td>GDDR6X</td>
          <td>936 GB/s</td>
          <td>10496 CUDA</td>
          <td>450W</td>
        </tr>
        <tr>
          <td>GeForce RTX 3090 Ti</td>
          <td>1860MHz</td>
          <td>24576 MB</td>
          <td>GDDR6X</td>
          <td>1008 GB/s</td>
          <td>10752 CUDA</td>
          <td>450W</td>
        </tr>
      </tbody>
    </table>
    <p>Adicionalmente cuentan con DirectX 12.1, 13.300 a 28.300 millones de transistores, tecnología de 8nm fabricado por Samsung y algunas tecnologías como Nvidia Reflex y DLSS 2.
    </p>
    <hr size="5" width="95%" color="#000000">
    <center>
      <p><a
          href="https://commons.wikimedia.org/wiki/File:RTX_3090_Founders_Edition.jpg#/media/Archivo:RTX_3090_Founders_Edition.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/4/48/RTX_3090_Founders_Edition.jpg"
            alt="RTX 3090 Founders Edition.jpg" height="480" width="640"></a><br>De <a class="link" href="https://commons.wikimedia.org/w/index.php?curid=99590077">Adam Kapetanakis</a><a
            href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0"> ,CC
            BY-SA 4.0</a></p>
    </center>

  </div>
</body>

{% endblock %}