{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce 700</h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QqiOQmQ6JTI?si=IAiW1aItv6aR6ce6"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>Serie iniciada con la tarjeta gráfica GTX TITAN. El GK110 es la versión inicial de esta serie, basado en la 2ª
      generación de Kepler. Cuenta con un chip basado en 7100 millones de transistores, el doble que su anterior GK104
      de primera generación, y se diferencia de éste sobre todo en que soporta paralelismo dinámico e Hyper-Q (soporte
      de conexiones de múltiples CPU's por cada GPU, simultáneamente)Serie iniciada con la tarjeta gráfica GTX TITAN. El
      GK110 es la versión inicial de esta serie, basado en la 2ª generación de Kepler. Cuenta con un chip basado en 7100
      millones de transistores, el doble que su anterior GK104 de primera generación, y se diferencia de éste sobre todo
      en que soporta paralelismo dinámico e Hyper-Q (soporte de conexiones de múltiples CPU's por cada GPU,
      simultáneamente).</p>
    <table>
      <thead>
        <th colspan="7">GeForce 700</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Ciclos del Reloj Interno</th>
          <th>Memoria</th>
          <th>Tipo de Memoria</th>
          <th>Velocidad del Bus</th>
          <th># De Nucleos Inteligentes</th>
          <th>Potencia Energética</th>
        </tr>
        <tr>
          <td>GeForce GTX 950</td>
          <td>1653 MHz</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>105,5 GB/s</td>
          <td>1024 CUDA</td>
          <td>90 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 960</td>
          <td>1753 MHz</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>112,2 GB/s</td>
          <td>1024 CUDA</td>
          <td>120 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 970</td>
          <td>1753 MHz</td>
          <td>4196 MB</td>
          <td>GDDR5</td>
          <td>224,3 GB/s</td>
          <td>1664 CUDA</td>
          <td>145 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 980</td>
          <td>1753 MHz</td>
          <td>4196 MB</td>
          <td>GDDR5</td>
          <td>224,3 GB/s</td>
          <td>2048 CUDA</td>
          <td>165 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 980 Ti</td>
          <td>1753 MHz</td>
          <td>6000 MB</td>
          <td>GDDR5</td>
          <td>336,5 GB/s</td>
          <td>2816 CUDA</td>
          <td>250 W</td>
        </tr>
        <tr>
          <td>GeForce GTX TITAN X</td>
          <td>1753 MHz</td>
          <td>12000 MB</td>
          <td>GDDR5</td>
          <td>336,6 GB/s</td>
          <td>3072 CUDA</td>
          <td>250 W</td>
        </tr>
      </tbody>
    </table>
    <p>Esta serie puede utilizar controladores de memoria
      GDDR5, GDDR5X y HBM2. Su proceso de integración de 16 nm FinFET13 corre a cargo de TSMC, aunque hay modelos
      también fabricados por Samsung a 14 nm.</p>
    <p><strong>Algunas de sus características principales eran: </strong></p>
    <ul class="listaintegrada">
      <li>Resoluciones de hasta 4096 x 2160 4K (digital) y 2048 x 1536 (analógico)</li>
      <li>NVIDIA SLI® Ready</li>
      <li>Tecnología PhysX™</li>
      <li>GeForce 3D Vision 2 Ready</li>
      <li>GeForce 3D Vision Surround Ready (hasta 4 monitores, con una sola tarjeta)</li>
      <li>Compatibilidad con PCI-E 3.0 x16</li>
      <li>Compatible con Shader Model 5.0, OpenGL 4.3 y OpenCL 1.2</li>
      <li>Compatible con la plataforma CUDA</li>
      <li>Compatible con los modelos de antiescalonamiento FXAA y TXAA</li>
      <li>Compatible con el modelo de V-Sync NVIDIA Adaptive VSync.</li>
      <li>Compatible con GPU-Boost 2.0</li>
      <li>Compatible con la videoconsola portátil SHIELD de Nvidia</li>
    </ul>
    <hr size="5" width="95%" color="#000000">
    <center>
      <p><a
          href="https://commons.wikimedia.org/wiki/File:ASUS_GT730-SL-2GD3-BRK_Rev1.00_2015-01_2.jpg#/media/Archivo:ASUS_GT730-SL-2GD3-BRK_Rev1.00_2015-01_2.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/d/d1/ASUS_GT730-SL-2GD3-BRK_Rev1.00_2015-01_2.jpg"
            alt="ASUS GT730-SL-2GD3-BRK Rev1.00 2015-01 2.jpg" height="480" width="640"></a><br>De <a
          href="//commons.wikimedia.org/wiki/User:Solomon203" title="User:Solomon203">Solomon203</a> - <span
          class="int-own-work" lang="es">Trabajo propio</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0"
          title="Creative Commons Attribution-Share Alike 4.0">CC
          BY-SA 4.0</a>, <a class="link" href="https://commons.wikimedia.org/w/index.php?curid=40094380">Enlace</a></p>
    </center>
</body>

{% endblock %}
