{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado ">GeForce FX (5)</h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UGaKzRS4MK8?si=LCzNozswnFLlP1pn"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>
      NVIDIA abandonó la tradicional nomenclatura de sus procesadores en favor del llamado motor FX, que decían iba a
      permitir a los usuarios de GeForce FX disfrutar de un avanzado motor de efectos y shaders programables.
      No obstante, desde las primeras muestras se comprobó que la gama alta de la serie FX rendía generalmente por
      debajo de su competidor la serie Radeon 9 de ATI en parte debido a fallos en los drivers y en parte a deficiencias
      en el diseño;
      y todo ello a pesar de haber salido al mercado seis meses más tarde.
    </p>
    <br>
    <center>
      <table>
        <thead>
          <th colspan="2">GeForce FX(5)</th>
        </thead>
        <tbody>
          <tr>
            <th>Modelo</th>
            <th>Especificaciones</th>
          </tr>
          <tr>
            <td>GeForce FX 5200</td>
            <td>128/256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5200 Ultra</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5300</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5500</td>
            <td>128/256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5600 XT</td>
            <td>128/256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5600</td>
            <td>64/128 MB SDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5600 Ultra</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5600 Ultra Rev 2</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5700 VE</td>
            <td>128/256 MB DDRR</td>
          </tr>
          <tr>
            <td>GeForce FX 5700 LE</td>
            <td>128/256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5700</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5700 Ultra</td>
            <td>256 MB DDR2</td>
          </tr>
          <tr>
            <td>GeForce FX 5700 Ultra GDDR3</td>
            <td>256 MB GDDR3</td>
          </tr>
          <tr>
            <td>GeForce PCX 5750</td>
            <td>64 256 MB GDDR3</td>
          </tr>
          <tr>
            <td>GeForce PCX 5800</td>
            <td>64/256 MB DDR2</td>
          </tr>
          <tr>
            <td>GeForce PCX 5800 Ultra</td>
            <td>256 MB DDR2</td>
          </tr>
          <tr>
            <td>GeForce PCX 5900 XT</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5900</td>
            <td>128/256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5900 Ultra</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce PCX 5900</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce FX 5950 Ultra</td>
            <td>256 MB DDR</td>
          </tr>
          <tr>
            <td>GeForce PCX 5950</td>
            <td>256 MB DDR</td>
          </tr>
        </tbody>
      </table>
      <p class="floatderecha"><a href="https://commons.wikimedia.org/wiki/File:NVidia_GeForceFX_5500_SX.jpg#/media/Archivo:NVidia_GeForceFX_5500_SX.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/b/be/NVidia_GeForceFX_5500_SX.jpg" alt="NVidia GeForceFX 5500 SX.jpg" height="400" width="560"></a><br><a href="//commons.wikimedia.org/wiki/File:NVidia_GeForceFX_5500_SX.jpg" title="Copyrighted free use">Copyrighted free use</a>, <a class="link" href="//commons.wikimedia.org/w/index.php?curid=213538">Enlace</a></p>
    </center>
    <p>Contaban con aproximadamente 125 millones de transistores, DirectX 9/9b y sus principales características eran:
    </p>
    <ul class="listaintegrada">
      <li>Primer procesador en usar memoria DDR 2 (posteriormente hasta GDDR 3)</li>
      <li>Soporte Vertex Shader 2.0+ y Pixel Shader 2.0+</li>
      <li>Codificador de TV integrado</li>
      <li>Implementación mejorada de compresión de texturas y técnicas-Z</li>
      <li>Hasta 16 texturas por píxel</li>
    </ul>
  </div>
</body>

{% endblock %}