{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce 3</h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y2uNqyy9Ke8?si=_IFIbFHPIBT5Cec_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>El procesador GeForce 3 fue lanzado prácticamente sin competencia real, ya que por parte de las compañías rivales no había un producto con características similares, siendo siempre un producto de gama alta del que nunca se desarrolló una versión económica.
      <br> <br>Asimismo, se trata del primer GPU programable con implementación nativa a la primera versión de DirectX 8. La consola Xbox presentó una implementación de este procesador para su soporte gráfico llamado NV2A, idéntico al GeForce 3 Ti 500 pero con 2 unidades de proceso vertex paralelas en lugar de una.</p>
    <table>
      <thead>
        <th colspan="2">GeForce 3</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Especificaciones</th>
        </tr>
        <tr>
          <td>Geforce 3</td>
          <td>64/128 MB SDR</td>
        </tr>
        <tr>
          <td>Geforce 3 Ti 200</td>
          <td>64/128 MB DDR</td>
        </tr>
        <tr>
          <td>Geforce 3 Ti 00</td>
          <td>64/128 MB DDR</td>
        </tr>
      </tbody>
    </table>
    <p>Contaba con 57 millones de transistores y sus principales características eran:</p>
    <ul class="listaintegrada">
      <li>Vertex Shader y Pixel Shader programables </li>
      <li>Optimización del bus de memoria (LightSpeed Memory Architecture)</li>
      <li>Incorporación de multisampling antialiasing</li>
    </ul>
    <br>
    <center>
      <p><a href="https://commons.wikimedia.org/wiki/File:GeForce3_Ti_500.jpg#/media/Archivo:GeForce3_Ti_500.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/GeForce3_Ti_500.jpg" alt="GeForce3 Ti 500.jpg" height="380" width="640"></a><br>De <a href="//commons.wikimedia.org/wiki/User:Hyins" title="User:Hyins"&gt;Hyins&lt;/a&gt; - &lt;span class="int-own-work" lang="es"&gt;Trabajo propio&lt;/span&gt;, Dominio público></a>
         <a class="link" href="https://commons.wikimedia.org/w/index.php?curid=11968159">Hyins</a></p>
    </center>
    
  </div>
</body>

{% endblock %}