{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">Nvidia Quadro</h1>
  <div>
    <center>
      <p><a
          href="https://commons.wikimedia.org/wiki/File:NVIDIA_Quadro4_980_XGL.jpg#/media/Archivo:NVIDIA_Quadro4_980_XGL.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/0/0f/NVIDIA_Quadro4_980_XGL.jpg"
            alt="NVIDIA Quadro4 980 XGL.jpg" height="380" width="640"></a><br>De <a
        href="//commons.wikimedia.org/wiki/User:Hyins" title="User:Hyins">Hyins</a> - <span
        class="int-own-work" lang="es">Trabajo propio</span>, Dominio público, <a class="link"
          href="https://commons.wikimedia.org/w/index.php?curid=13335065">Enlace</a></p>
      
      <br>

    </center>
    <p>
      NVIDIA Quadro es el nombre referido a la serie de tarjetas gráficas de NVIDIA, dirigidas al sector profesional.
      Sus diseños están orientados hacia la aceleración de CAD (Diseño asistido por ordenador) y DCC (creación de
      contenido
      digital) usualmente requeridas en estaciones de trabajo y diseñadores independientes. La serie Quadro junto a
      Firepro de AMD dominan este sector del mercado gráfico. Quadro es la denominación que tienen las tarjetas gráficas
      profesionales desarrolladas por la empresa estadounidense NVIDIA desde 1999. Estas unidades presentan
      características que no presentan sus contrapartes GeForce como lo son la capacidad de funcionar por largos
      periodos de tiempo en condiciones difíciles, menor temperatura de funcionamiento, mayor ancho de banda,
      operaciones de
      doble precisión, en algunos modelos resistencia a tormentas solares. Drivers optimizados para el funcionamiento
      con
      programas de diseño CAD, modelado 3D, desarrollo de aplicaciones, finanzas, medicina y de moléculas. Varios
      fabricantes OEM colocan este tipo de tarjetas en sus equipos workstation móviles y rugged PC. Las unidades son
      ensambladas por NVIDIA algunos modelos por ensambladoras como PNY. La gama superior a Quadro para aplicaciones HPC
      como Inteligencia Artificial es Tesla.
    </p>
    <p>
      NVIDIA divide sus líneas de productos Quadro según el tipo de negocio o estación de trabajo al que vayan dirigido,
      las Quadro simples (en versiones PCI, AGP y PCI-Express) dirigidas al sector de diseño profesional, las Quadro NVS
      para el sector financiero y las Quadro Mobile que la da soporte a equipos portátiles.
    </p>
  </div>
</body>

{% endblock %}