{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce 600</h1>
  <div>
    <img class="floatderecha"
      src="https://upload.wikimedia.org/wikipedia/commons/1/1f/EVGA_-_GeForce_GT_610_1_GB_Video_Card_1_2019-01-27.jpg"
      alt="EVGA - GeForce GT 610 1 GB Video Card 1 2019-01-27.jpg" height="480" width="640">
    <p>La GeForce Serie 600 presenta la nueva arquitectura de Kepler, sustituyendo a la anterior arquitectura Fermi,
      aunque sólo en parte de esta serie dado al rebautizado de varios productos de la gama baja (hasta la última GT).
      Nvidia ha dado a la arquitectura el nombre de Kepler, en honor al matemático y astrónomo alemán Johannes Kepler.
    </p>
    <p>
      En las segundas revisiones lanzadas a principios del 2013, a causa de la introducción de modelos con el chip
      GK208, una 3ª variante en la gama básica de los originales Kepler (las otras 2 variantes GK117 y GK118 podrían
      estar reservadas para modelos de la serie 700), se ha conseguido mejorar aún más el consumo. También se fabricaron
      de gama alta y media, pero probablemente se dejarán para la siguiente arquitectura. Se cree que está fabricada en
      20nm y de ahí, junto su reducción de transistores, su tan bajo consumo. Lo que ocurre es que se especulan rumores
      de 20nm en muchos sitios, ya que este proceso de fabricación se preserva para la serie 800, basada en Maxwell. Por
      lo tanto, la confirmación de los 20nm en las segundas revisiones no es del todo certera y, hasta que no haya una
      hoja de datos o un libro blanco oficial que lo indique, no podemos fiarnos.
    </p>
    <table>
      <thead>
        <th colspan="7">GeForce 600</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Modelo de Chip</th>
          <th>Memoria</th>
          <th>Tipo de Memoria</th>
          <th>Velocidad del Bus</th>
          <th># De Nucleos Inteligentes</th>
          <th>Potencia Energética</th>
        </tr>
        <tr>
          <td>GeForce 605 OEM</td>
          <td>GF119</td>
          <td>512 MB / 1024 MB</td>
          <td>DDR3</td>
          <td>64 bits</td>
          <td>48 CUDA</td>
          <td>25 W</td>
        </tr>
        <tr>
          <td>GeForce GT 610</td>
          <td>GF119</td>
          <td>1024 MB</td>
          <td>DDR3</td>
          <td>64 bits</td>
          <td>48 CUDA</td>
          <td>29 W</td>
        </tr>
        <tr>
          <td>GeForce GT 620</td>
          <td>GF108</td>
          <td>1024 MB</td>
          <td>DDR3</td>
          <td>64 bits</td>
          <td>96 CUDA</td>
          <td>49 W</td>
        </tr>
        <tr>
          <td>GeForce GT 620 OEM</td>
          <td>GF119</td>
          <td>512 MB / 1024 MB</td>
          <td>DDR3</td>
          <td>64 bits</td>
          <td>48 CUDA</td>
          <td>30 W</td>
        </tr>
        <tr>
          <td>GeForce GT 630</td>
          <td>GF108</td>
          <td>1024 MB</td>
          <td>DDR3 / GDDR5</td>
          <td>128 bits / 3.2Gb/s</td>
          <td>96 CUDA</td>
          <td>65 W</td>
        </tr>
        <tr>
          <td>GeForce GT 630 OEM</td>
          <td>GK107</td>
          <td>1024 MB / 2048 MB</td>
          <td>DDR3</td>
          <td>128 bits</td>
          <td>192 CUDA</td>
          <td>50 W</td>
        </tr>
        <tr>
          <td>GeForce GT 630 Rev. 2</td>
          <td>GK208</td>
          <td>2048 MB</td>
          <td>DDR3</td>
          <td>64 bits</td>
          <td>384 CUDA</td>
          <td>25 W</td>
        </tr>
        <tr>
          <td>GeForce GT 640</td>
          <td>GK107</td>
          <td>2048 MB</td>
          <td>DDR3</td>
          <td>128 bits</td>
          <td>384 CUDA</td>
          <td>65 W</td>
        </tr>
        <tr>
          <td>GeForce GT 640 OEM</td>
          <td>GF116 / GK107</td>
          <td>1024 MB / 1536 MB / 2048 MB / 3072 MB</td>
          <td>DDR3 / GDDR5</td>
          <td>128 / 192 bits / 2500 MHz</td>
          <td>144 / 384 CUDA</td>
          <td>50 W / 75 W</td>
        </tr>
        <tr>
          <td>GeForce GT 640 Rev. 2</td>
          <td>GK208</td>
          <td>1024 MB</td>
          <td>GDDR5</td>
          <td>5 Gb/s</td>
          <td>384 CUDA</td>
          <td>49 W</td>
        </tr>
        <tr>
          <td>GeForce GT 645 OEM</td>
          <td>GF114</td>
          <td>1024 MB</td>
          <td>GDDR5</td>
          <td>4 Gb/s</td>
          <td>576 CUDA</td>
          <td>130 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 650</td>
          <td>GK107</td>
          <td>1024 MB</td>
          <td>GDDR5</td>
          <td>5 Gb/s</td>
          <td>384 CUDA</td>
          <td>64 W</td>
        </tr>
        <tr>
          <td>GeForce GT 650 Ti</td>
          <td>GK106</td>
          <td>1024 MB</td>
          <td>GDDR5</td>
          <td>5.4 Gb/s</td>
          <td>768 CUDA</td>
          <td>110 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 650 Ti BOOST</td>
          <td>GK106</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>6 Gb/s</td>
          <td>768 CUDA</td>
          <td>134 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 660</td>
          <td>GK106</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>6 Gbps</td>
          <td>960 CUDA</td>
          <td>140 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 660 OEM</td>
          <td>GK104</td>
          <td>1536 MB / 3072 MB</td>
          <td>GDDR5</td>
          <td>5.8 Gb/s</td>
          <td>1152 CUDA</td>
          <td>130 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 660 Ti</td>
          <td>GK104</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>6 Gb/s</td>
          <td>1344 CUDA</td>
          <td>150 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 670</td>
          <td>GK104</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>6 Gb/ss</td>
          <td>1344 CUDA</td>
          <td>170 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 680</td>
          <td>GK104</td>
          <td>2048 MB</td>
          <td>GDDR5</td>
          <td>6 Gb/s</td>
          <td>1536 CUDA</td>
          <td>195 W</td>
        </tr>
        <tr>
          <td>GeForce GTX 690</td>
          <td>GK104 x 2</td>
          <td>4096 MB</td>
          <td>GDDR5</td>
          <td>6 Gb/s</td>
          <td>3072 CUDA</td>
          <td>300 W</td>
        </tr>
      </tbody>
    </table>
    <p>Los GK104, GK106 y GK107, productos de la primera arquitectura Kepler, tienen un total de 3.540, 2.540 y 1.300
      millones de transistores respectivamente, y están fabricados por TSMC en un proceso de 28nm. Son los primeros
      chips de Nvidia que soportan Direct3D 11.1, OpenCL 1.2 y PCI Express 3.0. Se identifican como gama alta, media y
      básica</p>
    <p><strong>Algunas de sus características principales eran: </strong></p>
    <ul class="listaintegrada">
      <li>Resoluciones de hasta 2560 x 1600 (digital) y 2048 x 1536 (analógico)</li>
      <li>NVIDIA SLI® Ready</li>
      <li>Tecnología PhysX™</li>
      <li>GeForce 3D Vision 2 Ready</li>
      <li>GeForce 3D Vision Surround Ready (hasta 4 monitores, con una sola tarjeta)</li>
      <li>Compatibilidad con PCI-E 3.0 x16</li>
      <li>Compatible con Shader Model 5.0, OpenGL 4.3 y OpenCL 1.2</li>
      <li>Compatible con la plataforma CUDA</li>
      <li>Compatible con los modelos de antiescalonamiento FXAA y TXAA</li>
      <li>Compatible con el modelo de V-Sync NVIDIA Adaptive VSync.</li>
      <li>Compatible con GPU-Boost</li>
      <li>Tecnología PureVideo® HD</li>
    </ul>
    <hr size="5" width="95%" color="#000000">
    <center>
      <p><a href="https://commons.wikimedia.org/wiki/File:Geforce_GTX_690.jpg#/media/Archivo:Geforce_GTX_690.jpg"><img
            src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Geforce_GTX_690.jpg" alt="Geforce GTX 690.jpg"
            height="271" width="640"></a><br>De <a href="//commons.wikimedia.org/wiki/User:HanyNAR"
        title="User:HanyNAR">HanyNAR</a> - <span class="int-own-work" lang="es">Trabajo
        propio</span>, <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.en"
          title="Creative Commons Zero, Public Domain Dedication">CC0</a>, <a class="link"
          href="https://commons.wikimedia.org/w/index.php?curid=89102194">Enlace</a></p>
    </center>
</body>

{% endblock %}
