{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">Nvidia nForce</h1>
  <center>
    <p><a
        href="https://commons.wikimedia.org/wiki/File:Nvidia_nForce_Southbridge_on_Xbox_(25519026177).jpg#/media/Archivo:Nvidia_nForce_Southbridge_on_Xbox_(25519026177).jpg"><img
          src="https://upload.wikimedia.org/wikipedia/commons/3/32/Nvidia_nForce_Southbridge_on_Xbox_%2825519026177%29.jpg"
          alt="Nvidia nForce Southbridge on Xbox (25519026177).jpg" height="480" width="640"></a><br>De <a
      rel="nofollow" class="external text" href="https://www.flickr.com/people/31018257@N00">Diego Torres
      Silvestre</a> from Sao Paulo, Brazil - <a rel="nofollow" class="external text"
      href="https://www.flickr.com/photos/3336/25519026177/">Nvidia nForce Southbridge on Xbox</a>, <a
        href="https://creativecommons.org/licenses/by/2.0" title="Creative Commons Attribution 2.0">CC BY 2.0</a>, <a class="link"
        href="https://commons.wikimedia.org/w/index.php?curid=105211895">Enlace</a></p>
  </center>
  <div>
    <p>
      nForce es un chipset de placas base creado por Nvidia originalmente para AMD Athlon y Duron, con revisiones
      posteriores que también son compatibles con los procesadores Intel contemporáneos. El chipset se envió en 3
      variedades; 220, 415 y 420. 220 y 420 son muy similares y cada uno tiene la GPU integrada, pero el 220 solo tiene
      un canal de memoria disponible, mientras que el 420 tiene el diseño TwinBank de 128 bits. La variante 415
      nuevamente tiene la interfaz de memoria de doble canal, pero no tiene gráficos integrados.
    </p>
  </div>
</body>

{% endblock %}