{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<body>
  <h1 class="centrado">GeForce RTX 40</h1>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Uo8rs5YfIYY?si=OE9YIeEL09YKxAlf"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>Las RTX 40 se basan en la microarquitectura Ada Lovelace, e incluyen su tercera generación de núcleos dedicados a trazado de rayos en tiempo real, y su cuarta generación de «Tensor cores» dedicados a la ejecución de algoritmos de inteligencia artificial.</p>
    <table>
      <thead>
        <th colspan="7">GeForce 40</th>
      </thead>
      <tbody>
        <tr>
          <th>Modelo</th>
          <th>Ciclos del Reloj Interno</th>
          <th>Memoria</th>
          <th>Tipo de Memoria</th>
          <th>Velocidad del Bus</th>
          <th># De Nucleos Inteligentes</th>
          <th>Potencia Energética</th>
        </tr>
        <tr>
          <td>GeForce RTX 4060 8GB</td>
          <td>2370MHz</td>
          <td>8192 MB</td>
          <td>GDDR6</td>
          <td>256 GB/s</td>
          <td>3072 CUDA</td>
          <td>115W</td>
        </tr>
        <tr>
          <td>GeForce RTX 4060 16GB</td>
          <td>2370MHz</td>
          <td>16384 MB</td>
          <td>GDDR6</td>
          <td>256 GB/s</td>
          <td>3072 CUDA</td>
          <td>115W</td>
        </tr>
        <tr>
          <td>GeForce RTX 4060 Ti </td>
          <td>2540MHz</td>
          <td>8192 MB</td>
          <td>GDDR6</td>
          <td>256 GB/s</td>
          <td>4352 CUDA</td>
          <td>160W</td>
        </tr>
        <tr>
          <td>GeForce RTX 4070</td>
          <td>2480MHz</td>
          <td>12288 MB</td>
          <td>GDDR6X</td>
          <td>504 GB/s</td>
          <td>5888 CUDA</td>
          <td>200W</td>
        </tr>
        <tr>
          <td>GeForce RTX 4070 Ti</td>
          <td>2610MHz</td>
          <td>12288 MB</td>
          <td>GDDR6X</td>
          <td>504 GB/s</td>
          <td>7680 CUDA</td>
          <td>285W</td>
        </tr>
        <tr>
          <td>GeForce RTX 4080</td>
          <td>2510MHz</td>
          <td>16384 MB</td>
          <td>GDDR6X</td>
          <td>735 GB/s</td>
          <td>9728 CUDA</td>
          <td>320W</td>
        </tr>
        <tr>
          <td>GeForce RTX 4090</td>
          <td>2520MHz</td>
          <td>24576MB</td>
          <td>GDDR6X</td>
          <td>1008 GB/s</td>
          <td>16384 CUDA</td>
          <td>450W</td>
        </tr>
      </tbody>
    </table>
    <p>Adicionalmente cuentan con DirectX 12.1, de 35.800 a 76.000 millones de transistores y algunas nuevas tecnologías como DLSS 3 (Frame Generation),
      códec AV1, entre otras.
    </p>
    <hr size="5" width="95%" color="#000000">
    <center>
      <p><a
          href="https://commons.wikimedia.org/wiki/File:NVIDIA_RTX_4090_Founders_Edition_-_Verpackung_(ZMASLO).png#/media/Archivo:NVIDIA_RTX_4090_Founders_Edition_-_Verpackung_(ZMASLO).png"><img
            src="https://upload.wikimedia.org/wikipedia/commons/0/0b/NVIDIA_RTX_4090_Founders_Edition_-_Verpackung_%28ZMASLO%29.png"
            alt="NVIDIA RTX 4090 Founders Edition - Verpackung (ZMASLO).png" height="360" width="640"></a><br>De ZMASLO,
        <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a
          class="link" href="https://commons.wikimedia.org/w/index.php?curid=124146809">Enlace</a></p>
    </center>

  </div>
</body>

{% endblock %}